<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
    <Property name="LOG_LEVEL_PATTERN">%5p</Property>
    <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd'T'HH:mm:ss.SSSXXX</Property>
    <Property name="LOG_PATTERN">%clr{%d{${sys:LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${sys:LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---[%t] ${sys:LOG_CORRELATION_PATTERN:-}}{faint}%clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    <Property name="LOG_PATTERN_FILE">%d{${sys:LOG_DATEFORMAT_PATTERN}} ${sys:LOG_LEVEL_PATTERN} %pid [%t] ${sys:LOG_CORRELATION_PATTERN:-}%-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
  </Properties>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="${sys:LOG_PATTERN}"/>
    </Console>
    <RollingFile name="LogRollingFile"
                 fileName="logs/log-${date:yyyy-MM-dd}.log"
                 filePattern="logs/log-${yyyy-MM-dd}-%i.log.gz">
      <PatternLayout pattern="${sys:LOG_PATTERN_FILE}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="10"/>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogRollingFile"/>
    </Root>
    <Logger name="folk" level="TRACE" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="LogRollingFile"/>
    </Logger>
  </Loggers>
</Configuration>